<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
      <a class="navbar-nav" routerLink="/home"><img src="https://play-lh.googleusercontent.com/gwHEKMIhxYpj7moeK_DEvEntXtJ1oDLEPRmALK1TrIihtIKksoMrB5mDEzHN_pSOqfk" alt="Logo" id="nav-logo"/></a>
  
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-pills">
  
          <li class="nav-item text-center"><a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active bg-warning ">Home</a></li>
  
          <li class="nav-item text-center"><a class="nav-link" routerLink="/courses" routerLinkActive="active bg-warning">Courses</a></li>
  
          <li class="nav-item text-center"><a class="nav-link" routerLink="/apply" routerLinkActive="active bg-warning">Apply</a></li>
  
          <li class="nav-item text-center"><a class="nav-link" routerLink="/contact" routerLinkActive="active bg-warning">Contact</a></li>
  
        </ul>
      </div>
    </div>
  </nav>

  <div class="text-center" id="barner">
    <div>
        <h1 class="text-warning ">Complaint Form</h1>
        <p class="text-warning">Please fill out the following form with your complaint. We will review your request and follow <br> up with you as soon as possible.</p>
    </div>
</div>

<form [formGroup]="complaintForm" class="container" (submit)="onSubmit(complaintForm.value)">
    <div class="form-row d-flex justify-content-between  gap-1 mb-3">
        <div class="form-group col-md-6">
            <label class="form-label">First name</label>
            <input formControlName="firstName" type="name" class="form-control"  placeholder="First name">
        </div>

        <div class="form-group col-md-6">
            <label class="form-label">Last name</label>
            <input formControlName="lastName" type="name" class="form-control"  placeholder="Last name">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input formControlName="email" type="email" class="form-control" placeholder="email@gmail.com">
    </div>

    <div class="mb-3">
        <label class="form-label">Phone number</label>
        <input formControlName="phoneNumber" type="number" class="form-control" placeholder="Enter phone number">
    </div>

    <div class="mb-3">
        <label class="form-label">Reason for complaint</label>
        <select formControlName="reasonForComplaint" class="form-select">
            <option value="" disabled selected hidden>Select reason for complaint</option>
            <option *ngFor="let complaint of complaints">{{complaint.category}}</option>
          </select>
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Provide more details</label>
        <textarea formControlName="textAreaDetails" class="form-control" rows="3" placeholder="Enter your message"></textarea>
    </div>

    <button class="btn btn-warning " [disabled]="loading">Submit complaint</button>
</form>

<hr class="text-warning mt-5">

  <!--footer-->
  <footer class="section-p1 mt-4">
    <div class="col">
        <img class="footerlogo" src="https://play-lh.googleusercontent.com/gwHEKMIhxYpj7moeK_DEvEntXtJ1oDLEPRmALK1TrIihtIKksoMrB5mDEzHN_pSOqfk" alt="logo">
        <h4 class="font-weight-bold">Contact</h4>
        <p><strong>Address:</strong> Pepper Road, Hazel Grove, Stockport, Cheshire, SK7 5SA, UK.</p>
        <p><Strong>Phone:</Strong> +44 2035 143305</p>
        <P><Strong>Hours:</Strong> 10:00 - 18:00, Mon - Fri</P>
        <div class="follow">
            <h4 class="font-weight-bold">Follow Us</h4>
            <div class="icon">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-pinterest"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4 class="font-weight-bold">Study</h4>
        <a href="#">Undergraduate</a>
        <a href="#">Postgraduate</a>
        <a href="#">Distance learning</a>
        <a href="#">Two-year accelerated degrees</a>
        <a href="#">Partnerships</a>            
    </div>

    <div class="col">
        <h4 class="font-weight-bold">Information for</h4>
        <a href="#">Schools and colleges</a>
        <a href="#">Alumni</a>
        <a href="#">Current students</a>
        <a href="#">Current staff</a>         
    </div>

    <div class="col install">
        <h4 class="font-weight-bold">Install App</h4>
        <p>Get app on Apple store or Play store</p>
        <div class="row d-flex gap-3">
            <div id="appStoreImg"></div>
            <div id="playStoreImg"></div>
        </div>
    </div>

    <div class="copyright">
        <p>&copy; Quantum Academy {{date}}</p>
    </div>
</footer>